:root {
  --md-primary-fg-color: #1F4D34;
  --md-primary-fg-color--light: #2c6b49;
  --md-primary-fg-color--dark: #15201A;
  --md-accent-fg-color: #6d8437;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #15201A;
  --md-accent-fg-color: #B8C97A;
  --md-typeset-a-color: #B8C97A;
}
